@import "variables";

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: 50px 1fr;
  .navbar {
    grid-column: 1/3;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 12px;
    .logo {
      img {
        display: grid;
        height: 37px;
      }
    }
    .content {
      display: flex;
      align-items: center;
      grid-gap: 1rem;
      .locationSelector {
        display: flex;
        align-items: center;
        grid-gap: 0.5rem;
      }
      .actions {
        display: flex;
        grid-gap: 1rem;
        button {
          background: #f5f5f5;
          border: 1px solid #ebebeb;
          outline: none;
          color: #5a5a5a;
          font-size: 1rem;
          border-radius: 3px;
          padding: 6px;
          cursor: pointer;
          &:hover,
          &:active {
            background: #eee;
          }
        }
      }
    }
  }
  .sidebar {
    background: #2f3545;
    color: white;
    position: relative;
    &.collaped {
      ul {
        overflow: hidden;
        width: 0;
      }
      .collapseBtn {
        svg {
          transform: rotate(180deg);
        }
      }
    }
    .links {
      max-height: 100vh;
      overflow-y: auto;
      &::-webkit-scrollbar {
        width: 7px;
      }
      &::-webkit-scrollbar-thumb {
        background-color: $blue;
        border-radius: 1rem;
      }
      display: grid;
      font-size: 12pt;
      width: 240px;
      .sidebarItem {
        padding-right: 10px;
        &:hover {
          background: #252a3d;
        }
        &.active {
          & > a {
            border-left-color: #0897c3;
            font-weight: 600;
          }
        }
        a {
          display: block;
          border-left: 3px solid #2f3545;
          padding: 0.5rem 6px;
        }
        border-bottom: 1px solid #292f43;
      }
    }
    .collapseBtn {
      color: white;
      // z-index: 10;
      background: #2f3545 !important;
      position: absolute;
      right: -1rem;
      font-size: 1.5rem;
      padding: 0.5rem 0rem;
      border-radius: 0 5px 5px 0;
    }
    .accordion {
      &.open {
        background: #252a3d;
        .accordionLabel {
          svg {
            display: grid;
            transform: rotate(90deg) !important;
          }
        }
        .submenu {
          max-width: 205px;
          margin: auto;
          margin-right: 0;
          a {
            border: none;
          }
          .active {
            a {
              color: #0897c3;
              font-weight: 600;
            }
          }
        }
      }
      .accordionLabel {
        display: flex !important;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
  main {
    padding: 10px 15px;
    padding-bottom: 20px;
  }
}
