main {
  max-height: 100vh;
  overflow: auto;
}
.container {
  max-width: 85rem;
  display: grid;
  grid-gap: 1rem;
  header {
    h3 {
      padding: 0 8px;
      font-weight: 500;
      margin-bottom: 0.5rem;
    }
    .note {
      font-size: 0.8rem;
      padding: 0.4rem;
      border-radius: 4px;
      border: 1px solid #b7d7df;
      color: #236a89;
      background: #d6f1f8;
      display: flex;
      align-items: center;
      grid-gap: 0.5rem;
      svg {
        font-size: 0.9rem;
      }
    }
  }
  .content {
    display: grid;
    grid-gap: 1rem;
  }
}
.box {
  .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #3f5182;
    position: relative;
    margin-bottom: 0.5rem;
    h4 {
      background: white;
      padding: 0 0.5rem;
      margin-left: 0.5rem;
      font-size: 1rem;
    }
    &::before {
      z-index: -1;
      position: absolute;
      content: "";
      display: block;
      height: 1px;
      width: 100%;
      background-color: rgb(135, 135, 135);
    }
    button {
      font-size: 1.4rem;
      color: rgb(135, 135, 135);
      background: white;
    }
  }
  .boxContent {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem;
    grid-column-gap: 2rem;
    &.typeOfIncident {
      grid-template-columns: 1fr;
    }
  }
  .placeholder {
    background: rgb(238, 238, 238);
    text-align: center;
    height: 5rem;
    display: grid;
    place-items: center;
    font-style: italic;
    color: rgb(113, 113, 113);
    border-radius: 4px;
    border: 1px dashed rgb(189, 189, 189);
  }
  .typeOfIncident {
    display: grid;
    grid-gap: 1rem;
  }
  .incidentCategory {
    .form {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-end;
      grid-gap: 0.5rem 1.5rem;
      margin-bottom: 1rem;
      & > button {
        margin: 0 auto;
        margin-right: 0;
      }
    }
  }
  .adverseEvent {
    width: 100%;
    display: grid;
    tr {
      display: grid;
    }
    thead {
      display: block;
      border: 1px solid rgb(181, 181, 182);
      tr {
        color: white;
        th {
          font-weight: 400 !important;
        }
        padding: 0.5rem;
        text-align: left;
        grid-template-columns: 1fr;
        background: #647299;
      }
    }
    tbody {
      tr {
        grid-template-columns: 20rem 1fr;
        align-items: center;
        padding: 0.5rem;
        border: 1px solid rgb(181, 181, 182);
        border-top: none;
        &:nth-child(2n) {
          background: #f3f3f3;
        }
      }
    }
  }
  .incidentDescription {
    .description {
      margin-bottom: 1rem;
    }
    .departments {
      display: flex;
      grid-gap: 0.5rem;
      flex-wrap: wrap;
      .search {
        display: flex;
        align-items: center;
        grid-gap: 0.5rem;
      }
    }
  }
  .contributingFactor {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    grid-gap: 1rem 2rem;
    .placeholder,
    .preventabilityWrapper,
    .actionWrapper,
    .fieldWrapper,
    .btns {
      grid-column: 1/-1;
    }
    .preventability {
      tr {
        td,
        th {
          &:last-child {
            text-align: left;
          }
        }
      }
    }
    h4 {
      font-weight: 600;
    }
    .actionTaken,
    .witnesses,
    .notified {
      .inlineForm {
        grid-column: 1/-1;
        form {
          grid-gap: 0.5rem;
          align-items: flex-start;
          display: grid;
        }
      }
    }
    .actionTaken {
      tr,
      form {
        grid-template-columns: 0.6fr 0.25fr 0.25fr min-content;
      }
      .inlineForm {
        textarea {
          height: 10px !important;
        }
      }
    }
    .witnesses {
      tr,
      form {
        grid-template-columns: 0.5fr 0.5fr min-content;
      }
    }
    .notified {
      tr,
      form {
        grid-template-columns: 1fr 1fr 1fr min-content;
      }
    }
    .fieldWrapper {
      display: grid;
      grid-gap: 1rem 2rem;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
    .btns {
      display: flex;
      grid-gap: 0.5rem;
      justify-content: center;
    }
  }
}
