.login {
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
  form {
    width: 20rem;
    padding: 1.5rem;
    padding-bottom: 2rem;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.22);
    display: grid;
    grid-gap: 1rem;
    button {
      margin: auto;
      margin-right: 0;
    }
  }
}
