$primary-color: #3450a3;
$primary-color-dark1: #1d2531;
$primary-color-dark2: #222c3c;
$primary-color-dark3: #313d4f;

$white: #fff;
$primary-grey: #bfbfbf;

$comp-color: #eb7239;
$comp-color-dark1: #eb7239;
$comp-color-dark2: #f4b083;
$comp-color-dark3: #f7caac;

$green: #68ad03;
$red: #c00208;
$orange: #fb8433;
$yellow: #f6d304;
$blue: #0473d6;

$comp-grey: #f2f2f2;
