@import "./components/variables.scss";

ul {
  list-style: none;
}

a {
  text-decoration: inherit;
  color: inherit;
}

button {
  display: flex;
  &.clear {
    border: none;
    background: none !important;
    color: #3450a3;
    outline: none;
    cursor: pointer;
  }
  &.btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    background: #499c17;
    border: none;
    color: #fff;
    border-radius: 2px;
    padding: 6px;
    font-size: 1rem;
    text-align: center;
    justify-content: center;
    &.w-100 {
      width: clamp(10px, 100%, 100px);
    }
    &:hover {
      background: #3e8e0d;
    }
    &:active {
      background: #2e7900;
    }
    &:disabled {
      opacity: 0.5;
    }
    &.secondary {
      background: white;
      color: #20306b;
      border: 1px solid #20306b;
      padding: 5px;
      &:hover {
        background: #3849a4;
        color: white;
      }
      &:active {
        background: #283683;
        color: white;
      }
      &:disabled {
        opacity: 0.5;
      }
    }
    &.ghost {
      border: 1px solid #3450a3;
    }
  }
}

.flex {
  display: flex !important;
  grid-gap: 0.5rem;
  align-items: center;
}

.auth-placeholder {
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
  font-size: 5rem;
  opacity: 0.5;
}

#portal,
#prompt {
  position: fixed;
  height: max-content;
  width: max-content;
  top: 0;
  left: 0;
  z-index: 100;
  display: grid;
  place-items: center;
  margin: auto;
  & > * {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}

.modalBackdrop {
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.7);
  pointer-events: all;
}
.modal {
  pointer-events: all;
  z-index: 10;
  background: white;
  max-height: calc(100vh - 2rem);
  & ~ .modalBackdrop {
    z-index: 10;
    & ~ .modal {
      z-index: 10;
    }
  }
  position: relative;
  border-radius: 4px;
  display: grid;
  overflow: auto;
  .head {
    background: #323d4f;
    border-radius: 4px;
    border: 1px solid white;
    color: white;
    font-weight: 500;
    padding: 2px 10px;
    padding-right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 25rem;
    button {
      font-size: 1.5rem;
    }
  }
}

.promptBackdrop {
  height: 100vh;
  width: 100vw;
}
.prompt {
  background: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  padding: 5px 2rem;
  padding-bottom: 2rem;
  border-radius: 5px;
  position: relative;
  text-align: center;
  width: 100%;
  max-width: 25rem;
  .close {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 2rem;
    color: #4f4f4f;
  }
  .content {
    display: grid;
    grid-gap: 1.3rem;
    .label {
      display: grid;
      justify-content: center;
      .svg {
        font-size: 3.75rem;
        font-weight: bold;
      }
      .promptLabel {
        font-size: 1.5rem;
        line-height: 0.5em;
      }
      &.confirmation {
        color: rgb(254, 183, 0);
      }
      &.information {
        color: $blue;
      }
      &.success {
        color: $green;
      }
      &.error {
        color: $red;
      }
    }
    .actions {
      justify-content: center;
      display: flex;
      grid-gap: 0.7rem;
      .no {
        filter: saturate(0);
        opacity: 0.7;
      }
    }
  }
}
